@model List<UserRoleViewModel>

@{
    ViewData["Title"] = "Assign";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var roleId = ViewBag.roleId;
}

<h1>Assign Role</h1>

<form method="post">
    <div class="row">

        <div class="card">
            <div class="card-header">
                <h3>Add or Remove Users Role from this role</h3>
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model[i].UserId" />
                        <input type="hidden" asp-for="@Model[i].UserName" />
                        <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model[i].IsSelected">
                            @Model[i].UserName
                        </label>
                    </div>
                }
            </div>
            <div class="card-footer">
                <input type="submit" asp-route-roleid="@roleId" value="Update" class="btn btn-primary" />
                <a asp-action="Index" asp-route-roleid="@roleId" class="btn btn-success">Cancel</a>
            </div>
        </div>
    </div>
</form>
