@model IEnumerable<ApplicationRole>
@{
    ViewData["Title"] = "List of Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>All Roles</h3>
<a class="btn btn-danger" asp-controller="Administrator" asp-action="CreateRole">Add New</a>
@if (Model.Any())
{
    <table class="table table-bordered table-info">
        <tr>
            <th>Role Name</th>
            <th>Operations</th>
        </tr>

        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-controller="Administrator" asp-action="Edit" asp-route-id="@role.Id" class="btn btn-warning">Edit Role</a>

                    @*<a asp-controller="Administrator" asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger">Delete Role</a>*@

                    <a asp-controller="Administrator" asp-action="Assign" asp-route-id="@role.Id" class="btn btn-success">Assign Role</a>

                    @*<a asp-controller="Administrator" asp-action="Details" asp-route-id="@role.Id" class="btn btn-info">Details Role</a>*@
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No Role Found</p>
}