@model IEnumerable<ClassRoutineManagement.Models.Classes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="PlaceHolderHere"></div>
<div class="container-fluid alert-dark">
    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addTeacher" data-url="@Url.Action("CreateClasses")">Create Class</button>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CStage)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CStage)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /*id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>

